# ========================
# Node dependencies
# ========================
**/node_modules/

# ========================
# Testing outputs
# ========================
**/coverage/

# ========================
# Next.js
# ========================
**/.next/
**/out/

# ========================
# Production builds
# ========================
**/build/

# ========================
# Miscellaneous
# ========================
**/.DS_Store
**/*.pem

# ========================
# Debug logs
# ========================
**/npm-debug.log*

# ========================
# Environment variables
# ========================
**/.env*
!.env.example

# ========================
# Vercel deployment folder
# ========================
**/.vercel/

# ========================
# TypeScript artifacts
# ========================
**/*.tsbuildinfo
**/next-env.d.ts
