@import "tailwindcss";

:root {
  --primary: #02d81b;
  --font-primary: var(--font-poppins);
}


/* ✅ Tailwind 4 design token registration */
@theme {
  --color-primary: var(--primary);
  --font-primary: var(--font-primary);
}


